@font-face {
    font-family: 'Cactron';
    src: url('../assets/Cactron-Regular.otf') format('woff2'), /* Modern Browsers */
        url('../assets/Cactron-Bold.otf') format('woff2'); /* Older Browsers */
}


.fredoka {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@keyframes slide {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 512px 256px;
    }
}

canvas {
    transition: filter 1s;
    border: 5px solid #16437e;
    border-radius: 5px;
    background-color: #7ED348;
    object-fit: contain;
    filter : brightness(0%);
    max-width: 100%;
    touch-action: none;
}

table, th, td {
    border: 1px solid;
    min-width: 20px;
}

#content_div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Vertically center items */
    margin: 0; /* Remove default margin */
    background-image: url("../assets/background.png");
    background-color: #34aad1;
    height: 100vh;
    animation: slide 10s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
    }
}

table, p, h1, button {
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    color: #97e7f5;
    font-weight: 700;
    text-shadow: 0.05em 0.05em #34aad1;
}

header {
    width: 100vw;
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Vertically center items */
    background-color : #16437e;
}

section {
    background-color : #16437e;
    color: white;
    border: 5px solid #16437e;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
button {
    background-color : #97e7f5;
    color: #16437e;
    border: 5px solid #16437e;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
button:active {
    background-color: #34aad1;
}

input {
    height:1rem+10px;
    border: none;
}

button:disabled {
    background-color : gray;
    color: black;
    border: 5px solid gray;
}
button:disabled:active {
    background-color : darkgray;
}

.content_div {
    overflow: hidden;
}

p {
    margin:0;
    padding:0;
}

table {
    margin: auto;
    background-color: #97e7f5;
    color: #16437e;
    border: none;
    border-collapse: collapse;
    border: 5px solid #16437e;
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    width: 85vw;
}

img {
    width: 40px;
    height: 40px;
}

button {
    font-weight: 800;
}